.circle_box
  width: 100%
  height: 100%
  .circle_title
    height: 20px;
    font-size: 14px;
    font-weight: 500;
    color: #383B42;
    line-height: 20px;
  .circle_content
    display: flex
    align-items: center
    overflow hidden
    padding-left: 20px
    .circle_chart_box
      position: relative
      height: 240px
      width: 10vw
      min-width: 140px
      overflow hidden
      margin-right: 2vw
      .circle_chart
        height: 100%
        width: 100%
      .circl_mark
        height: 100%
        width: 100%
        position: absolute
        top 0
        left: 0
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        .circl_mark_money
          margin-bottom: 6px
          font-size: 0.8vw;
          font-weight: bold;
          color: #394D78;
        .circl_mark_title
          font-size: 12px;
          font-weight: 400;
          color: #9AA6B8;
    .circle_info_box
      width: 260px;
      height: 129px;
      background: #F8F9FA;
      box-sizing: border-box
      padding-left: 40px
      display: flex
      flex-direction: column
      justify-content: center
      .circle_info
        display: flex
        align-items: center
        margin-bottom: 10px
        .circle_info_percet
          margin: 0 10px
        .circle_info_pre
          width: 10px
          height: 10px
          margin-right: 6px