/deep/.el-drawer
  width: 500px !important
/deep/ #el-drawer__title
  font-size 14px
.sure_box
  position: absolute
  bottom: 0
  left: -20px
  width: calc(100% + 40px);
  height: 60px;
  background: #FFFFFF;
  box-shadow: 0px -2px 6px 0px rgba(51, 75, 133, 0.2);
  border: 1px solid #ECEDF1;
  box-sizing: border-box
  display: flex
  justify-content: center
  align-items: center
.upload_btn
  width: 81px;
  height: 30px;
  background: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #3B68F0;
  line-height: 30px;
  text-align: center;
  font-size: 12px;
  font-family: PingFangTC-Regular, PingFangTC;
  font-weight: 400;
  color: #3B68F0;
.last_data
  position: absolute
  top 0
  left: 160px
  color: #3B68F0
  white-space: nowrap