.home-title
  font-size 16px
  color #494949
  margin-bottom 20px
  display flex
  justify-content space-between
.time-line-main
  width 50%
  margin-right 35px
.time-line-main:last-child
  margin-right 0
.time-line-more-btn
  font-size 12px
  color #494949
  padding 5px 10px
  border-radius 4px
  border 1px solid #EAEBEE
  cursor pointer
.time-line-content
  padding 25px 20px
  border 1px solid #F2F2F6
  .time-line-item
    border-left 1px solid #D3D3D3
    padding-left 8px
    position relative
    padding-top 30px
    padding-bottom 45px
    margin 0 5px
    .time-line-time
      color #3B68F0
      display flex
      position absolute
      line-height 7px
      top 0
      left -3px
      .time-line-icon
        width 6px
        height 6px
        border-radius 50%
        display block
        background #3B68F0
        margin-right 10px
      .time-line-type
        color #FF6666
        padding 2px 5px
        background #FFEFEF
        font-style normal
        line-height 20px
        margin -8px 0 0 10px
      .time-line-type.u-blue
        color #3B68F0
        background #EBEFFD
      .time-line-type.u-green
        color #25BECD
        background #E9F8FA
    .time-line-detail
      color #494949
      font-size 14px
      margin-bottom 10px
    .time-line-summary
      font-size 12px
      color #9B9B9B
  .time-line-item:first-child
    margin-top 20px
  .time-line-item:last-child
    padding-bottom 0
.time-line-scroll
  height 300px
  overflow hidden
.u-default-height
  height 290px