.plain_title
  font-size: 14px;
  font-weight: 500;
  color: #494949;
  padding: 20px;
.plain_empty
  padding: 10px 0 0 20px
  .plain_btn
    width: 228px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #3B68F0;
    text-align: center;
    line-height: 32px;
    cursor pointer
    font-size: 12px;
    font-weight: 400;
    color: #3B68F0;
.plain_detail
  padding-bottom: 10px
  border-bottom: 1px solid rgba(234, 235, 238, 1)
  margin-bottom: 20px
  box-sizing: border-box
.plain_detail_title
  margin-bottom: 20px
  font-size: 12px;
  font-weight: 500;
  color: #383B42;
  box-sizing: border-box
  padding: 0 20px
.plain_detail_info
  display: flex
  margin-bottom: 10px
  line-height: 16px
  box-sizing: border-box
  padding: 0 20px
  .plain_detail_info_label
    font-size: 12px;
    font-weight: 400;
    color: #848484;
    white-space: nowrap
.plain_files
  padding: 0 20px
.eidt_plain
  position: absolute
  top: 15px
  right: 20px
.file_list
  color: #3B68F0
  margin-bottom: 5px
  cursor pointer
