.tab-content
  margin-top 20px
.tab-block
  display flex
  margin-bottom 40px
  .tab-card
    width 100%
    &:first-child
      margin-right 30px
    /deep/ &__content
      border 1px solid #F2F2F6
  .tab-45
    width 45%
  .tab-50
    width 50%
  .tab-55
    width 55%
.tab-block-1
  height 350px
.tab-block-2
  height 435px
.empty--height 
  height 180px!important
  
.popover-text
  font-size 12px