.overview-button
  display flex
  position absolute
  top 19px
  right 0

.empty-box
  height 0
  flex-grow 1
  text-align center
  padding 45px 0
  display flex
  justify-content center
  align-items center
  &--img
    height 100%
    overflow hidden
  &--text
    width 60px
    height 33px
    color #fff
    background #3B68F0
    line-height 33px
    margin-right 20px
