.enterprise-detail-table.el-table 
  th.el-table__cell
    // background-color #F5FAFF
    // line-height 60px
    font-size 14px
  td.el-table__cell
    font-size 14px
.u-empty-tips
  color #999
  min-height 100px
  display flex
  justify-content center
  align-items center