// 按钮
.el-button--small
  height 32px
  border-radius 4px
  font-size 12px

// 表格
.el-table
  color #494949
  &:before
    display none
  th.el-table__cell
    height 50px
    background-color #F2F2F6
    color #848484
    font-weight normal
  .error-row
    background: #fde2e2
.el-table__body-wrapper
  border 1px solid #F2F2F6
  border-top 0
.el-table__fixed-body-wrapper
  border 1px solid #F2F2F6
  border-top 0
.el-table__fixed::before
  display: none

// 弹窗
.el-dialog
  border-raidus 4px
// el-dialog设置custom-class='el-dialog-new'，对弹框样式进行覆盖
.el-dialog-new
  .el-dialog__header
    padding 30px
  .el-dialog__headerbtn
      top 33px
      right 30px
  .el-dialog__title
    color #494949
    font-size 14px !important
  .el-dialog__body
    padding 0 30px 30px
  .el-dialog__footer
    padding 20px 30px
    border-top 1px solid #EAEBEE
    border-bottom-color transparent !important

// scrollbar
.el-scrollbar__view
  height 100%
.el-scrollbar__wrap::-webkit-scrollbar
  display none

// icon-warning
.el-icon-warning
  color #EDA22C

// popconfirm 增加最大宽度
.el-popover
  max-width 300px

// tooltip文字提示
.el-tooltip__popper.is-light
  border: 1px solid #F2F2F6
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.15)
  &[x-placement^=bottom] .popper__arrow
    border-bottom-color #F2F2F6
  &[x-placement^=top] .popper__arrow
    border-top-color #F2F2F6