.quota-edit
  background #fff
  padding 20px
.quota_form_box
  margin-top 22px
  background #EAEBEE
  padding 16px 0 44px 0
.quota_title
  font-size 14px
  font-weight 500
  color #494949
  margin-left 20px
  margin-bottom 20px
.quto-btns
  display flex
  justify-content center
  align-items center
  padding-top 20px
.upload_title
  width 70px
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
  word-break break-all