.attr-box
  width 100%
  min-height 719px
  background #FFFFFF
  box-shadow 0px 8px 16px 0px rgba(0, 0, 0, 0.05)
  border 1px solid #EAEBEE
  padding 20px
  .attr-heard
    display flex
    background-color rgba(77, 127, 213, .1)
    color #4D7FD5
    padding 10px 20px
    font-size 12px
    .el-icon-warning-outline
      font-size 18px
      margin-top 4px
      margin-right 15px
    li
      list-style inside
      line-height 26px
.box-card
  width 568px
  >>>.el-card__header
    background-color #4D7FD5
    color #fff
    font-size 14px
    .button
      float right
      color #fff
      margin-top -6px
  .card-list-item
    background #EDF2FA
    height 30px
    line-height 30px
    margin-bottom 10px
    padding: 0 10px
.save-time
  color #9AA6B8
  margin-top 20px
  