.p-border
  border 1px solid #EAEBEE
  padding 13px 17px
  width 33%
  .p-title
    color #494949
    font-size 14px
.p-border:last-child
  border-left none
.p-label
  color #494949
  font-weight bold
  .p-value
    font-weight normal
.p-risk-main
  display flex
  flex-wrap wrap
  margin-top 20px
  .p-risk-item
    background #F8F9FA
    padding 6px 9px
    margin: 0 10px 10px 0
    .p-risk-item-name
      color #494949
      margin-bottom 10px
    .p-risk-item-num
      color #E05E62
      font-size: 18px