.credit_kinds
  padding 20px 16px
  overflow hidden
  .credit_check_box
    display flex
    align-items center
    .credit_kind_title
      height 19px
      line-height 19px
      color #494949
  .credit_kinds_info
    height 17px
    font-size 12px
    font-weight 400
    color #ACACAC
    line-height 17px
    padding-top 10px
    padding-left: 82px
