.ddApp
  display flex
  align-items center
  justify-content center
  flex-direction column
  background #fff
  min-height 300px
  padding 50px 0
  .ddApp-top
    text-align right
    width 100%
    padding-right 30px
    margin-bottom 20px
  .ddApp-desc
    width 528px
    color #999
    padding-left: 25px
  .ddApp-btns
    display: flex
    justify-content center
    padding-top 20px 
    .search-button
      margin 0 15px
.dd_appSecret_info
  position absolute
  top 25px
  right 0