.manufactor
  flex 1
  box-sizing border-box
  border-right 1px solid #EAEBEE
  display flex
  align-items  center
  justify-content center
  padding 20px 30px
  .manufactor-content
    width 100%
    height 20vw
    min-height 280px
    background url("//cdn.qjdchina.com/static-online/saas/creditSystem/overview/bg.png") no-repeat
    background-size cover
    box-sizing border-box
    display flex
    flex-direction column
    color #fff
    .manufactor-item
      flex 1
      display flex
      padding-left 26px
      box-sizing border-box
      align-items center
      .manufactor-item-logo
        width 55px
        height 55px
        margin-right 12px
      .manufactor-item-info
        flex 1
        display flex
        flex-direction column
        justify-content center
        height 100%
        border-bottom 1px solid #5C7EC7
        box-sizing border-box
        .manufactor-item-text
          display flex
          align-items center
          height 30px
          font-size 12px
          margin-bottom 3px
          span
            margin-right 8px
          img
            width 12px
            height 12px
            cursor pointer
        .manufactor-item-money
          display flex
          align-items center
          height 30px
          font-size 26px
          font-family Helvetica-Bold, Helvetica
          font-weight: bold;
          line-height: 31px;