.M_container
  min-width: 1200px
  padding 20px
  .D_down
    background: #fff
    padding: 20px
    .fc-media-screen
      >>>.fc-header-toolbar
        .fc-toolbar-chunk
          display flex
.calendar_detail
  width: 100%
  color: #494949
  background: rgba(0, 0, 0, 0)
  padding: 10px 10px 0
  div
    width: 100%
    word-break: break-all
  
