.steps_box
  width 100%
  display flex
  justify-content center
.custom_step
  padding 50px 0
  >>>.el-step__icon
    width 30px
    height 30px
    margin-left -2px
  >>>.el-step__icon.is-text
    border-width 3px
  >>>.el-step__title
    font-size 12px
    font-weight normal
  >>>.is-success
    border-color #4D7FD5
    color #4D7FD5
    .el-step__line
      background #4D7FD5
    .el-step__icon
      background #4A71F0
    .el-step__icon-inner
      color #fff
  >>>.is-process
     border-color #4D7FD5
     color #4D7FD5
    >>>.el-step__line
      background rgba(232, 236, 247, 1)
  >>>.el-step__icon
      background #fff
    .is-text
      border-width 4px
    .el-step__icon-inner
      color rgba(0, 0, 0, 0)
  >>>.is-wait
    border-color rgba(232, 236, 247, 1)
    color #4A71F0
  >>>.el-step__description
    padding 0
    display flex
.custom_init_step
  >>>.el-step:nth-of-type(1)
    .el-step__head
      .el-step__icon
        border-color #4A71F0
.step-box
  width 400px
  min-height 130px
  box-sizing border-box
  background #FFFFFF
  box-sizing border-box
  .step_title
    padding-left 20px
    margin-bottom 10px
    font-size 12px
    font-weight 500
    color #494949
    line-height 17px
  .step-content
    text-align left
    padding 0 20px
    font-size 12px
    font-weight 400
    color #848484
    line-height 17px
    margin-bottom 10px
  .step_done
    margin-top 15px
.custom_button
  text-align center
  line-height 32px
  font-size 12px
  font-weight 400
  color #FFFFFF
  cursor pointer
  margin-bottom 28px
  box-sizing border-box
  width 79px
  height 32px
  background #3B68F0
  border-radius 4px
.again_go
  color rgba(59, 104, 240, 1)
  cursor pointer
  margin-bottom 28px
