.p-list-left,
.p-list-right
  display flex
  margin-right 10px
.p-module-content
  padding 15px 20px
  position relative
.p-seamless-content
  height 222px
  overflow hidden
.p-scroll-content
  padding-right 5px
.u-warning-item
  display flex
  justify-content space-between
  padding-bottom 9px
  border-bottom 1px solid #F2F2F6
  margin-bottom 10px
  color #494949
  line-height 24px
  cursor pointer
  margin-right 15px
.u-warning-icon
  color #fff
  background #FD5652
  border-radius 20px
  padding 2px 10px 0 10px
  // margin-left 5px
  height 22px
  line-height 16px
  font-size 16px
  transform scale(0.7)
  text-align center
  span
    font-size 14px
.u-warning-item-detail
  color #25BECD
  float right
  cursor pointer
.u-warning-item-companyName
  max-width 165px
  height 20px
  white-space nowrap
  overflow hidden
  display block
  text-overflow ellipsis
  word-break break-all
.u-warning-item-name
  display flex
  justify-content flex-start
.p-news-title
  max-width 220px
.u-empty-tips
  display flex
  justify-content center
  align-items center
  color #738a9e
  min-height 100px